body, html {
  height: 100%;
}

body {
  font-family: Montserrat;
  margin: 0;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 375px;
  height: 100%;
  border: 1px solid #707070;
  background: #F7E9B9;
}
