body, html {
  height: 100%;
}

body {
  font-family: Montserrat;
  margin: 0;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 375px;
  height: 100%;
  border: 1px solid #707070;
  background: #F7E9B9;
}

.input-container {
  margin-top: 20px;
}

#city-input {
  border: 1px solid #2A5510;
  background: transparent;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}

#submit-button {
  border-radius: 5px;
  border: 1px solid #2A5510;
  padding: 7px;
  background: transparent;
}
